/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
.content-wrapper{
    max-width:1430px;
    margin: auto;
}
.container {
    padding: 00px 15px;
    max-width: 1050px;
    margin: auto;
}
/***header area start***/
.header-section{
    max-width: 100%;
    padding: 10px 10px;
    /* max-height: 597px; */
    background-color:#87509c;
}
.header .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-between;
}

.header .menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu ul li{
   list-style-type: none;
    
}
.menu ul li a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    font-size: 17px; 
    font-weight: bold;  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.menu ul li a:hover{
    background: #c07adb;
    border-radius: 50px;
    /* transform: rotate(360deg); */
}
.header .mobile-bar{
    color: #fff;
    cursor: pointer;
    background: transparent;
    font-size: 35px;
    display: none;
}
/***header area end***/

.hero-section{
    padding: 75px 00px ;
    text-align: center;
    background: #87509c;

}
.hero-section .txt{
    max-width: 1000px;
    padding: 00px 10px;
    margin: auto;
}
.hero-section .txt h1{
    font-size: 40px;
    color: #f7f3ea;
}
.hero-section a{
    margin-top: 30px;
    text-decoration: none;
    background-color: hsl(19, 80%, 61%);
    padding: 20px 30px ;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid hsla(19, 80%, 61%, 0.651);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.hero-section a:hover{
    background: hsla(19, 89%, 50%, 0.651);
    border-radius: 50px;
}
/* <!--hero area end--> */

/***service section start****/
.service-section{
    width: 100%;
    background-color: #1edbb9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 85px 00px;

}
.title{
    max-width: 600px;
    text-align: center;
    margin: auto;
}
.title h3{
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
}
.service-section .title hr{
    border: 0;
    border-top: 3px solid #1c24227a  ;
    width: 70px;
    margin: 15px auto;
    
}
.service-section .title p{
    color: rgb(255, 255, 255);
    font-size: 19px;
    line-height: 1.333;
    text-align: center;
    text-transform:capitalize;
}
.service-section .service-container{
    max-width: 1050px;
    margin: auto;
    margin-top: 85px;
}
.service-section .service-container .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.service-section .service-container .col{
    width: 25%;
    /* margin-bottom: 15px; */

    padding: 0px 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}
.service-container .column-content{
    margin-bottom: 25px;

    text-align: center;
    color: #fff;
}
.service-container .column-content .column-img{
    margin-bottom: 19px;
}
.service-container .column-content .column-img img{
    width: 120px;
}
.service-container .column-content .column-title h5{
    text-transform: uppercase;
    padding-bottom: 17px;
    font-size: 23px;
}
/****service area end*****/

.team-section {
    padding: 100px 0; 
    background-color: #e7f1f8;
}
.team-section .title-area {
    text-align: center;
    max-width: 700px;
    margin: auto;
}
.team-section .title-area h2 {
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
}
.team-section .title-area hr {
    width: 70px;
    margin: 10px auto;
    border: 0;
    border-bottom: 4px solid #000;
    opacity: 0.1; 
}
.team-section .title-area p {
    color: #000;
    margin-top: 25px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 19px;
}

.team-section .team-members {
    margin-top: 60px;
}

.team-section .team-members .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.team-section .col {
    width: 25%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.team-section .team-content {
    text-align: center;
}
.team-section .team-content img {
    width: 200px;
    border-radius: 50%;
}
.team-section .team-content h5 {
    text-transform: uppercase;
    margin-top: 20px;
}
.team-section .team-content .members-info span {
    color: #30bae7;
    text-transform: capitalize;
}
.team-section .team-content .members-txt {
    margin-top: 15px;
}
.team-section .team-content .members-social {
    margin-top: 15px;
}
.team-section .team-content .members-social a {
    background-color: #bdd1df;
    width: 30px; 
    height: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}
/* team section end */

/* portfolio section start */
.portfolio-section{
    background-color: #ffdd99;
    padding: 75px 00px;
}
.portfolio-section .container{
    max-width: 1050px;
    margin: auto;

}
.portfolio-section .portfolio-title{
    max-width: 550px;
    margin: auto;
    text-align: center;
    /* padding-top: 50px; */
}
.portfolio-section .portfolio-title .heading h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #393939;
    padding-bottom: 5px;

}
.portfolio-section .portfolio-title hr{
    border: 0;
    border-bottom: 3px solid #e5c37f;
    width: 95px;
    margin: auto;
}
.portfolio-section .portfolio-title .portfolio-txt p{
    padding-top: 15px;
    font-size: 19px;
    line-height: 1.444;
    text-transform: capitalize;
}
.portfolio-section .filter-content{
    margin: 50px 0px;
}
.filter-content .filter-nav{
   text-align : center;
}
.filter-content .filter-nav button{
    width: 70px;
    padding: 9px 0px ;
    border: 0;
    text-transform: uppercase;
    color: #393939;
    background: #ebc985;
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.filter-content .filter-nav button.active{
    background: #fff;
    color: #393939;
}
.portfolio-section .filter-columns .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.portfolio-section .filter-columns .row .col{
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 17px;
    margin-bottom: 50px;
}
.portfolio-section .filter-columns .columns-content .columns-txt{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 21px;
}
.portfolio-section .load-btn{
    text-align: center;
    /* margin-bottom: 30px; */
}
.portfolio-section .load-btn a{
    background: #17c2a4;
    display: inline-block;
    text-decoration: none;
    padding: 15px 50px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    /* margin-bottom: 70px; */
    
}
/* <!--portfolio section end--> */


/*****testimonial-area start*****/
.testimonial-area{
    background: #d74680;
    padding: 75px 0%;
}
.testimonial-area .title-area{
    max-width: 550px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.testimonial-area .title-area h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    padding-bottom: 5px;

}
.testimonial-area .title-area hr{
    border: 0;
    border-bottom: 3px solid #b73c6d;
    width: 95px;
    margin: auto;
}
.testimonial-area .title-area p{
    padding-top: 15px;
    font-size: 19px;
    line-height: 1.444;
    text-transform: capitalize;
    color: #fff;
}
.testimonial-area .fidback-content{
    padding-top: 50px;
    
}
.testimonial-area .fidback-content .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.testimonial-area .fidback-content .row .col{
    width: 50%;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.testimonial-area .fidback-content .fidback-columns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.testimonial-area .fidback-columns .clients-img img{
    width: 101px;
    border-radius: 50%;
}
.testimonial-area .clients-info{
    /* width: 250px; */
}
.testimonial-area .clients-info p{
    color: #fff;
    
}
.testimonial-area .clients-name{
    padding-top: 15px;
}
.testimonial-area .clients-name h5{
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
}
.testimonial-area .clients-name span{
    color: #ffdd99;
    font-size: 19px;
    text-transform: capitalize;
}
/* <!--testimonial area end--> */



/* <!--contact-area start--> */
.contact-area{
        background: #3c5499;
        padding: 75px 00px;
}
.contact-area .contact-location {
    text-align: center;
}
.contact-area .contact-location h3{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    padding-bottom: 15px;
    
}
.contact-area .contact-location  hr{
    width: 90px;
    margin: auto;
    border: 0;
    border-bottom: 3px solid #273a71;
}
.contact-area .contact-location p{
    padding-top: 25px;
    color: #fff;
}
.contact-area .contact-form{
    padding-top: 70px;
}
.contact-area .contact-form form{
    max-width: 850px;
    margin: auto;
    
}
.contact-form .input-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}
.contact-form form input,
.contact-form form textarea{
    border:none;
    /* outline:1px solid red; */
    width: 100%;
    padding: 15px 20px;
    background: #273a71;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact-form form input:focus {
    outline: 1px solid #fff;
}
.contact-form form ::-webkit-input-placeholder{
    color: #fff;
}
.contact-form form ::-moz-placeholder{
    color: #fff;
}
.contact-form form :-ms-input-placeholder{
    color: #fff;
}
.contact-form form ::-ms-input-placeholder{
    color: #fff;
}
.contact-form form ::placeholder{
    color: #fff;
}
.contact-area .contact-form .btn{
    text-align: center;
    margin-top: 30px;
}
.contact-area .contact-form .btn button{
    text-align: center;
    background: #30bae7;
    padding: 20px 50px;
    border-radius: 3px;
    border: none;
    text-transform: capitalize;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}
/* <!--contact area end--> */
.footer-area{
    background: #344b8e;
    margin: auto;
}
.footer-area .social-list{
    text-align: center;
}
.footer-area .social-list a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    padding: 30px 30px;
    display: inline-block;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-area .social-list a:hover{
    color: #30bae7;
}